* {
    margin: 0;
    padding: 0;
}

body {
    width: 1000px;
    margin: 0 auto;
}

header {
    padding: 20px;
    background-color: #666;
    height: 50px;
    
}
.cart-button {
    padding: 5px;
    background-color: #ccc;
    border-radius: 15px;
    float: right;
    margin-top: 8px;
    font-size: 16px;
    color: #444;
    cursor: pointer;
    
}

.goods-list {
    background-color: #eee;
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;

}
